.calculator-container {
  width: 100%;
}

.result-field {
  height: 3rem;
  background-color: #858694;
}

.result-field,
.btn-container {
  width: 80%;
}

.result-field:focus {
  outline: none;
}

.operator {
  background-color: #f5913e;
  border: 1px solid #a7a1a1d8;
}
